.section-title {
  text-align: center;
  padding-bottom: 20px;
  font-size: clamp(1.5rem, 5vw, 2rem);
}

#projects {
  padding: 40px;
  background-color: #f8f9fa;
  border-bottom: 1px solid black;
}

#projects-container {
  /* display projects in rows */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; /* adjust and fit via wrap */
  justify-content: center;
}

.project-box {
  width: 375px;
  padding: 1rem;
  margin: 1rem;
  border-radius: 8px;
}

.project-box img {
  width: 100%;
  height: auto;
  object-fit: cover; /* fills container nicely */
  display: block;
}

.project-box h2 {
  text-align: center;
  padding: 10px;
  font-size: larger;
}

.tech-stack {
  display: flex;
  flex-direction: row;
  list-style: none;
  flex-wrap: wrap;
  gap: 5px;
}

.tech-stack li {
  color: #f8f9fa;
  background-color: #000080;
  padding: 4px;
  border-radius: 8px;
  /* border: 1px solid; */
}

#contact-container {
  background-color: #f8f9fa;
  padding: 20px;
  text-align: center;
}
